In [3]:
# create Pandas dataframe

import pandas as pd
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", header=0)[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [5]:
# drop rows with no borough assigned and replace neighbourhoods with no name assigned with their Borough name

tor_df = df[df.Borough != 'Not assigned']
tor_df['Neighbourhood'].replace('Not assigned', tor_df['Borough'], inplace=True)
tor_df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [6]:
# combine multiple neighbourhoods in the same boroughs separated by a comma

grouped = tor_df.groupby(['Postcode', 'Borough']).agg({'Neighbourhood': ', '.join}).reset_index()
grouped.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [7]:
grouped.shape

(103, 3)